.yellow{
  width: 80px;
  height: 60Px;
  background-color:yellow;
  cursor: pointer;
}
.blue{
  width: 80px;
  height: 60px;
  background-color:blue;
  cursor: pointer;
}
.box{
  margin-left: 50%;
  margin-top: 60px;
}